.App {
    background-color: var(--background-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    padding-top: 60px; /* Altura da navbar */
}